        #Ajax {
            margin-top: 2em;
        }

        /*.form-group:not(:last-child) {
            margin-right: 1em;
        }*/

        /*tr .center {
            text-align: center;
            vertical-align: middle;
        }

        th .center {
            text-align: center;
            vertical-align: middle;
        }*/
        /*.inline{
            display:inline;
        }*/


