@model IEnumerable<SemVM>
@using Se.Models;

@{
    ViewBag.Title = "Seminari List";
}

<style>
    tr .center {
        text-align: center;
        vertical-align: middle;
    }

    th .center {
        text-align: center;
        vertical-align: middle;
    }
</style>

<h2>Seminari</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container table-responsive">        
        <div id="Ajax">
            @{ Html.RenderPartial("_SortSeminareAJAXPartial"); }
        </div>
</div>


@section scripts{
 <script type="text/javascript">
    function fnSuccess() {
        $("#Ajax td").css("font-style", "italic");
    }
</script>    
}


